.row
  .col-md-8.offset-md-2
    %h1
      Your Articles
      = link_to 'New Article', new_article_path, class: "btn btn-sm btn-primary" if user_signed_in?
    %hr/

    %ul.list-group
      - @articles.each do |article|
        %li.list-group-item
          = link_to article.title, article
          %span.float-right{ title: article.created_at.strftime("%b %d, %Y %H:%M:%S") }= article.created_at.strftime("%b %d")
